@layer components {
    .footer-link {
        color: var(--text-foreground-70);

        transition-property:
            color, background-color, border-color, text-decoration-color, fill,
            stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;

        text-decoration: none;
        font-size: 0.875rem;
    }

    .footer-link:hover {
        color: var(--foreground);
    }
}
